html{
  padding: 0;
  margin: 0;
  overflow: auto;
}
body,main{
    height: 100vh;
    box-sizing: border-box;
    font-family: $fonte_family;
}

.text__color__primary{
  color: $cor_primaria; 
}

.text__color__secundary{
  color: $cor_secundaria; 
}

.text__color__light{
  color: $cor_mono_white;
}

.border__focus{
  border: 3px $cor_terciaria solid;
}

.border__focus__secundary{
  border: 3px $cor_secundaria solid;
}

.border__focus__radius{
  border-radius: 30px;
}

.border__focus__inverse{
  border: 3px $cor_primaria solid;
}

.border__focus__mono{
  border: 3px $cor_mono_white solid;
}

.box__shadow{
  box-shadow: 1px 12px #c6c6c6;
}



/*transitions components*/
.slide-fade-enter-active {
    transition: all 0.8s ease-out;
  }
  
  .slide-fade-leave-active {
    transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
  }
  
  .slide-fade-enter-from,
  .slide-fade-leave-to {
    transform: translateX(20px);
    opacity: 0;
  }

  .fade-enter-active,
  .fade-leave-active {
    transition: opacity 1.5s ease;
  }
  
  .fade-enter-from,
  .fade-leave-to {
    opacity: 0;
  }  

.nested-enter-active ,
.nested-leave-active  {
  transition: all .75s ease-in-out;
}

.nested-enter-from ,
.nested-leave-to  {
  transform: translatey(30px);
  opacity: 0;
}

.slide-right-enter-active {
  transition: all 0.3s ease-out;
}

.slide-right-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-right-enter-from,
.slide-right-leave-to {
  transform: translateX(20px);
  opacity: 0;
}


.slide-left-enter-active {
  transition: all 0.3s ease-out;
}

.slide-left-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-left-enter-from,
.slide-left-leave-to {
  transform: translateX(-20px);
  opacity: 0;
}