body, main{
    
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    font-family: $fonte_family;


}

.full{
    position: relative;
    height: 100vh;
    width: 100vw;
    padding: 0;
}

.bg{
    background-image: url(../fundo.svg) ;
    background-size: cover;
    width: 100%;
    height: 100%;
}


.color-button{
        background-color: $cor_primaria; 
        color: $cor_quartenaria;
        border-color: $cor_quartenaria; 
        &:hover{
            background-color: $cor_quartenaria;
            border-color: $cor_primaria;  
            color: $cor_primaria;
        }
}

.color-primary{
  color: $cor_mono_black; 
}

.color-secund{
  color: $cor_primaria; 
}

/*transitions components*/
.slide-fade-enter-active {
    transition: all 0.8s ease-out;
  }
  
  .slide-fade-leave-active {
    transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
  }
  
  .slide-fade-enter-from,
  .slide-fade-leave-to {
    transform: translateX(20px);
    opacity: 0;
  }

  .fade-enter-active,
  .fade-leave-active {
    transition: opacity 1.5s ease;
  }
  
  .fade-enter-from,
  .fade-leave-to {
    opacity: 0;
  }  

.nested-enter-active ,
.nested-leave-active  {
  transition: all .75s ease-in-out;
}

.nested-enter-from ,
.nested-leave-to  {
  transform: translatey(30px);
  opacity: 0;
}

.slide-right-enter-active {
  transition: all 0.3s ease-out;
}

.slide-right-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-right-enter-from,
.slide-right-leave-to {
  transform: translateX(20px);
  opacity: 0;
}


.slide-left-enter-active {
  transition: all 0.3s ease-out;
}

.slide-left-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-left-enter-from,
.slide-left-leave-to {
  transform: translateX(-20px);
  opacity: 0;
}