/* FONTE */
    /* TAMANHO */
    $fonte_size: 3rem;

    /* FAMILIA */
    $fonte_family:'Ubunto', sans-serif;

/* CORES SITE */
$cor_primaria: #363636;
$cor_secundaria: #dc2f2f;
$cor_terciaria: #ff894c;
$cor_quaternaria: #f8f8f8;

/*CORES DAS FONTES*/
$cor_mono_black: #000;
$cor_mono_white: #fff;

