/* FONTE */
    /* TAMANHO */
    $fonte_size: 3rem;

    /* FAMILIA */
    $fonte_family:'Ubunto', sans-serif;

/* CORES SITE */
<<<<<<< HEAD
$cor_primaria: #363636;
$cor_secundaria: #dc2f2f;
$cor_terciaria: #ff894c;
$cor_quaternaria: #f8f8f8;
=======
$cor_primaria: #F69036;
$cor_secundaria: #DCD3E2;
$cor_terciaria: #6D5271;
>>>>>>> 47563e023a5c54302fd3e97dea86ad0659d8c897

/*CORES DAS FONTES*/
$cor_mono_black: #000;
$cor_mono_white: #fff;

